<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatsapp_call_ip">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_waiplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_waiplogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WCallIP"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".InstructionsWizardActivity"
            android:label="@string/title_activity_instructions_wizard" />
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/title_activity_instructions" />
        <activity
            android:name=".AuthorActivity"
            android:label="@string/title_activity_author" />
        <activity android:name=".ViewCaptureActivity" />
        <activity android:name=".StopCaptureActivity" />
        <activity android:name=".InitCaptureActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>